<script>
var map;
var initialLocation;
var birmingham = new google.maps.LatLng(52.456009, -1.867676);
$(document).ready(function() {
	// Note: This example requires that you consent to location sharing when
	// prompted by your browser. If you see a blank space instead of the map, this
	// is probably because you have denied permission for location sharing.

	var my_latitude;
	var my_longitude;

	function initialize() {
	  var mapOptions = {
	    zoom: 15,
	    center: birmingham
	  };
	  map = new google.maps.Map(document.getElementById('map-canvas'),
	      mapOptions);
	  window.map = map;
	  window.markers = {};


	  // Try HTML5 geolocation
	  if(navigator.geolocation) {
	    navigator.geolocation.getCurrentPosition(function(position) {
			my_latitude = position.coords.latitude;
			my_longitude = position.coords.longitude;
			var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
		    map.setCenter(pos);
	    }, function() {
	      handleNoGeolocation(true);
	    });
	  } else {
	    // Browser doesn't support Geolocation
	    handleNoGeolocation(false);
	  }

	} //init


	function handleNoGeolocation(errorFlag) {
	  if (errorFlag) {
	    var content = 'Error: The Geolocation service failed.';
	  } else {
	    var content = 'Error: Your browser doesn\'t support geolocation.';
	  }

	  var options = {
	    map: window.map,
	    position: birmingham,
	    content: content
	  };

	  var infowindow = new google.maps.InfoWindow(options);
	  window.map.setCenter(options.position);
	}
	google.maps.event.addDomListener(window, 'load', initialize);
});

    </script>