<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/img/favicon.ico">

    <title>UK Flood Mapping</title>

    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.0/superhero/bootstrap.min.css">

    <!-- Custom styles for this template -->

    <!-- Just for debugging purposes. Don't actually copy this line! -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
     .infobox_content {
	color:black;
	}
    </style>
 
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">UKFlood.info</a>
	  </div>
        <div class="navbar-collapse collapse">
{% if session['user_id'] %}
<ul class="nav navbar-nav">
<li class="">	<a href="{{url_for('logout')}}">Logout {{session['user_id']}}</a></li>
</ul>
	{% endif %}

       </div> <!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Crowdsourced flood updates</h1>
	{% if session['user_id'] %}
		<p>Get mapping!</p>
	{% else %}
		<p>Sign in with twitter and get mapping</p>
		<p><a class="btn btn-primary btn-lg" role="button" href="{{url_for('login')}}">Sign in&raquo;</a></p>
	{% endif %}
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-2">
	{% include "active_users.html" %}
	</div>
        <div class="col-md-8">
          <h2>Flood Map</h2>
	{% include "sharing.html" %}	
	{% if not request.MOBILE %}
	<p>Right-click to add a pin where there's a flood</p>
	{% else %}
	<p>Click to add a pin where there's a flood</p>
	{% endif %}
	  <p><a class="btn btn-default" href="#" role="button" id="show_all">Show All &raquo;</a></p>
<div id="map-canvas" style="width: 100%; height: 400px"></div>

       </div>
        <div class="col-md-2">
          <h2>Other Maps</h2>
		<p><a href="/bbc">BBC Travel Alert Data</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCwUgkELk3I4MrFeiyInr3bHbvj5zNeXB8&sensor=true&v=3.exp"></script>

<script src="/static/js/detectmobile.js"></script>
<script>
$("#show_all").bind('click', function(){
	$.post("/api/config/radius_of_concern", {"new_value": 0}, function(data){
		console.log(data);
var birmingham = new google.maps.LatLng(52.456009, -1.867676);
 var mapOptions = {
    zoom: 6,
    center: birmingham
  };

	var  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);


		$.getJSON("/api/marker/radius" ,{my_latitude: 52, my_longitude: -1, radius: data.radius_of_concern },
		function(data){
		$.each(data.pins, function(index,value){
		    var pin_lat = value.latitude;
		    var pin_long = value.longitude;
		    var pin_pos = new google.maps.LatLng(pin_lat,pin_long);
		    var marker = new google.maps.Marker({
			position: pin_pos, 
			icon: "/static/img/river-2.png",
			map: map
		    });
		    var infoWindow = new google.maps.InfoWindow({
			content: "<div class='infobox_content'>" + value.owner + "</div>",
			position: pin_pos
			});

		   google.maps.event.addListener(marker, 'click', function(){
			   infoWindow.open(map);
			   map.setCenter(pin_pos);
			   });

		});	

		}
	);
	});
});

</script>
 <script>
var map;
var initialLocation;
var birmingham = new google.maps.LatLng(52.456009, -1.867676);
$(document).ready(function() {
// Note: This example requires that you consent to location sharing when
// prompted by your browser. If you see a blank space instead of the map, this
// is probably because you have denied permission for location sharing.

var map;
var my_latitude;
var my_longitude;

function initialize() {
  var mapOptions = {
    zoom: 15,
    center: birmingham
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);


  // Try HTML5 geolocation
  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
/////////
	my_latitude = position.coords.latitude;
	my_longitude = position.coords.longitude;
	$.getJSON("/api/marker/radius", {my_latitude: my_latitude, my_longitude: my_longitude, radius: {{radius_of_concern}}}, 
		function(data){
		$.each(data.pins, function(index,value){
		    var pin_lat = value.latitude;
		    var pin_long = value.longitude;
		    var pin_pos = new google.maps.LatLng(pin_lat,pin_long);
		    var marker = new google.maps.Marker({
			position: pin_pos, 
			icon: "/static/img/river-2.png",
			map: map
		    });
		    var infoWindow = new google.maps.InfoWindow({
			content: "<div class='infobox_content'>" + value.owner + "</div>",
			position: pin_pos
			});

		   google.maps.event.addListener(marker, 'click', function(){
			   infoWindow.open(map);
			   map.setCenter(pin_pos);
			   });

		});	

		}
	);
			
      var pos = new google.maps.LatLng(position.coords.latitude,
                                       position.coords.longitude);
      
      //var infowindow = new google.maps.InfoWindow({
      //  map: map,
      //  position: pos,
      //});

      map.setCenter(pos);
    }, function() {
      handleNoGeolocation(true);
    });
  } else {
    // Browser doesn't support Geolocation
    handleNoGeolocation(false);
  }


if ($.browser.mobile) {

var mobile_mousedown = google.maps.event.addListener(map, 'mousedown', function(event) {

  var initPoint = {x: event.pageX, y: event.pageY}, 
      toBeCanceled = false, 
      latLong = event.latLong;

   var mobile_mousemove =  google.maps.event.addListener(map, 'mousemove', function(event) {
       var newPoint = {x: event.pageX, y: event.pageY};

       // if newPoint has moved beyond expected limits
       toBeCanceled = true
    });  

    var mobile_mouseup = google.maps.event.addListener(map, 'mouseup', function(event) {

      if (toBeCanceled) {
        event.stop()
      } else {
        placeMarker(event.latLng);
      }

      // Unregister mousemove and mouseup
      google.maps.event.removeListener(mobile_mouseup);
      google.maps.event.removeListener(mobile_mousemove);

	
    });

});



} else { 
 google.maps.event.addListener(map, 'rightclick', function(event) {
     placeMarker(event.latLng);
  });

}
//
} //init

function api_new_marker(_lat, _long) {
 $.post("/api/marker/new",{lat: _lat, long: _long}).done( function (data) {
  console.log(data);
 });
}

function placeMarker(location) {
    var marker = new google.maps.Marker({
	position: location, 
	icon: "http://maps.google.com/mapfiles/marker_green.png",
	map: map
    });
    api_new_marker(location.lat(), location.lng());
}



function handleNoGeolocation(errorFlag) {
  if (errorFlag) {
    var content = 'Error: The Geolocation service failed.';
  } else {
    var content = 'Error: Your browser doesn\'t support geolocation.';
  }

  var options = {
    map: map,
    position: new google.maps.LatLng(60, 105),
    content: content
  };

  var infowindow = new google.maps.InfoWindow(options);
  map.setCenter(options.position);
}
google.maps.event.addDomListener(window, 'load', initialize);
});

    </script>
 {% include "gosquared.html" %}
 </body>
</html>


